			table 
			{
				border-collapse: collapse;
				margin: 0 auto;
			}

			td
			{
				border: 1px solid black;
				font-size: 200%;
				text-align: center;
				cursor: pointer;
			}

			td:hover
			{
				background-color: #ffc;
			}